<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Try this common Azure DevOps pattern -->
    <add key="PremiumTrust" value="https://pkgs.dev.azure.com/PremiumDigitalDev/_packaging/PremiumBankNugets/nuget/v3/index.json" />
    <!-- Example for Azure DevOps: -->
    <!-- <add key="PremiumTrust" value="https://pkgs.dev.azure.com/premiumtrust/_packaging/CoreBanking/nuget/v3/index.json" /> -->
  </packageSources>
 
</configuration>

